<camera-sync>
    <div style="display: flex; gap: 10px;">
        <dzi-viewer
            url="https://idk-etl-prod-download-bucket.s3.amazonaws.com/idf-23-10-pathology-images/pat_images_JGCXWER774NLNWX2NNR/H20.33.040-A12-I6-primary/H20.33.040-A12-I6-primary.dzi"
            width={300}
            height={300}
        >
            <svg-renderer src="https://idk-etl-prod-download-bucket.s3.amazonaws.com/idf-23-10-pathology-images/pat_images_JGCXWER774NLNWX2NNR/H20.33.040-A12-I6-primary/annotation.svg" />
        </dzi-viewer>
        <dzi-viewer
            url="https://idk-etl-prod-download-bucket.s3.amazonaws.com/idf-23-10-pathology-images/pat_images_JGCXWER774NLNWX2NNR/H20.33.040-A12-I6-analysis/H20.33.040-A12-I6-analysis.dzi"
            width={300}
            height={300}
            style="margin: 0"
        >
            <svg-renderer src="https://idk-etl-prod-download-bucket.s3.amazonaws.com/idf-23-10-pathology-images/pat_images_JGCXWER774NLNWX2NNR/H20.33.040-A12-I6-primary/annotation.svg" />
        </dzi-viewer>
    </div>
</camera-sync>
